html {
  text-align: center;
}
h1 {
  font-family: Helvetica;
  font-size: 70px;
  font-weight: bold;
  color: white;
}
.menu {
  font-family: Helvetica;
  font-size: 18px;
  color: white;
}
ul {
  list-style-type: none;
}
body {
  background-image: url('http://s3.amazonaws.com/codecademy-content/projects/broadway/bg.jpg');
  color: dimgrey;
  font-family: Helvetica;
}
.center {
  background-color: white;
}
.newYork {
  background-color: white;
}
