html {
  text-align: center;
}
h1 {
  font-family: Helvetica;
  font-size: 70px;
  font-weight: bold;
  color: white;
}
.menu {
  font-family: Helvetica;
  font-size: 18px;
  color: white;
}
ul {
  list-style-type: none;
}
#header {
  background-image: url("Resources/images/the-flatiron-build.png");
}
